<mat-card>

    <form (submit)="onInserirArsenal(arsenalForm)" #arsenalForm="ngForm">
        <mat-form-field appearance="fill">
            <mat-label>Digite o Tipo</mat-label>
            <input
                matInput 
                type="text"
                ngModel
                name="tipo"
                required
                #tipoInput>
            <button
                *ngIf="tipoInput.value"
                matSuffix
                mat-icon-button
                (click)="tipoInput.value=''">
                <mat-icon>
                    close
                </mat-icon>
            </button>
            <mat-error>"Digite o tipo!</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Digite o Nome</mat-label>
            <input 
                matInput
                type="text"
                ngModel
                name="nome"
                required
                #nomeInput>
            <button
                *ngIf="nomeInput.value"
                matSuffix
                mat-icon-button
                (click)="nomeInput.value=''">
                <mat-icon>
                    close
                </mat-icon>
            </button>
            <mat-error>"Digite o nome!</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Digite a Quantidade</mat-label>
                <input 
                matInput
                type="number"
                ngModel
                name="quantidade"
                required
                #quantidadeInput>
            <button
                *ngIf="quantidadeInput.value"
                matSuffix
                mat-icon-button
                (click)="quantidadeInput.value=null">
                <mat-icon>
                    close
                </mat-icon>
            </button>
            <mat-error>"Digite a quantidade!</mat-error>
        </mat-form-field>
        <button
            mat-raised-button
            color="black">
            Inserir no Arsenal
        </button>
    </form>

</mat-card>