<mat-card>

    <mat-form-field appearance="fill">
        <mat-label>Digite o Tipo</mat-label>
        <input
            matInput 
            type="text"
            [(ngModel)]="tipo">
        <button
            *ngIf="tipo"
            matSuffix
            mat-icon-button
            (click)="tipo=''">
            <mat-icon>
                close
            </mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Digite o Nome</mat-label>
        <input 
            matInput
            type="text"
            [(ngModel)]="nome">
        <button
            *ngIf="nome"
            matSuffix
            mat-icon-button
            (click)="nome=''">
            <mat-icon>
                close
            </mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Digite a Quantidade</mat-label>
            <input 
            matInput
            type="number"
            [(ngModel)]="quantidade">
        <button
            *ngIf="quantidade"
            matSuffix
            mat-icon-button
            (click)="quantidade=null">
            <mat-icon>
                close
            </mat-icon>
        </button>
    </mat-form-field>
    <button
        mat-raised-button
        color="primary" 
        (click)="onInserirArsenal()">Inserir no Arsenal
    </button>

</mat-card>