<h2>Inserção de itens no arsenal</h2>
<mat-form-field appearance="fill">
    <mat-label>Digite o Tipo</mat-label>
    <input
        matInput 
        type="text"
        [(ngModel)]="tipo">
    <button
        *ngIf="tipo"
        matSuffix
        mat-icon-button
        (click)="tipo=''">
        <mat-icon>
            close
        </mat-icon>
    </button>
</mat-form-field>
<hr>
<input 
    type="text" 
    placeholder="Digite o nome"
    [(ngModel)]="nome">
<hr>
<input 
    type="number" 
    placeholder="Digite a quantidade"
    [(ngModel)]="quantidade">
<hr>
<button (click)="onInserirArsenal()">Inserir no Arsenal</button>
